/* base config*/
body {
  margin: 0;
  background-color: #283434;
  background-size: cover;
}

/*boxes*/
.boxSearch {
  position: fixed;
  top: 80px;
  right: 50px;
  width: 250px;
  height: 200px;
  border-radius: 15%;
  background-color: aliceblue;
}

.boxCount {
  position: fixed;
  top: 300px;
  right: 20px;
  width: 300px;
  height: 250px;
  border-radius: 10%;
  background-color: aliceblue;
}

.boxDB {
  position: fixed;
  top: 80px;
  left: 20px;
  width: 300px;
  height: 250px;
  border-radius: 10%;
  background-color: aliceblue;
}

/*text*/
/* .countTitle {

} */

.boxText {
  margin-left: 10px;
}

.boxInput {
  margin-left: 10px;
}